:root {
  --color: #141414;
  --color_1: #ffffff;
  --background: #f7f7f7;
  --background_2: #e1e1e1;
  --background_3: #0d6efd;
  --background_4: #0149B3;
  --background_5: #ed6161;
  --background_6: #bd00bd;
  --background_7: #880088;
}